<div class="col-sm-12">
    <!-- Carousel -->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="{{sliderlist.sliders[0].image}}" alt="First slide">
                <!-- Static Header -->
                <div class="header-text hidden-xs">
                    <div class="col-md-12 text-center">
                        <h2>{{sliderlist.sliders[0].title}}</h2>
                        <br>
                        <h3>{{sliderlist.sliders[0].content}}</h3>
                        <br>
                    </div>
                </div><!-- /header-text -->
            </div>
            <div ng-repeat="item in sliderlist.sliders" ng-if="item.id>1" class="item">
                <img ng-src="{{item.image}}" alt="First slide">
                <!-- Static Header -->
                <div class="header-text hidden-xs">
                    <div class="col-md-12 text-center">
                        <h2>{{item.title}}</h2>
                        <br>
                        <h3>{{item.content}}</h3>
                        <br>
                    </div>
                </div><!-- /header-text -->
            </div>

        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div><!-- /carousel -->
</div>